<a id="menu-toggle" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand text-center">
      <a href="#" id="menu-close">
        <i class="fa fa-times"></i>
      </a>
    </li>
    <li>
      <a href="#top">Home</a>
    </li>
    <li>
      <a href="#details">Details</a>
    </li>
    <li>
      <a href="#event">Event</a>
    </li>
    <li>
      <a href="#hotel">Hotels</a>
    </li>
    <li>
      <a href="#registry">Registry</a>
    </li>
    <li>
      <a href="#rsvp">RSVP</a>
    </li>
  </ul>
</nav>
<header id="top" class="header clearfix">
  <div class="carousel_banner">
    <h1 class="logo_top">
      <a href="#" class="site-header">Rachel &amp; Tom</a>
    </h1>
    <br>
    <div class="banner-line">
      <h2 class="site-header">
        July 12th, 2015 - Lighthouse Point Park - New Haven, CT
      </h2>
      <br>
    </div>
    <div class="top_arrow">
      <a href="#details">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>
</header>
<section>
  <article class="details" id="details">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center ">
          <h2>Details</h2>
          <p class="big-text">Please join us on July 12th, 2015 at Lighthouse Point Park in New Haven, CT to celebrate our wedding!</p>
        </div>
      </div>
    </div>
  </article>
  <article class="rachel_tom">
    <div class="rachel_tom_parallax">
      <div class="rachel_tom_bottom_bg">
      </div>
    </div>
  </article>
  <article class="event" id="event">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Ceremony &amp; Reception</h2>
          <dl class="dl-horizontal">
            <dt><strong>Address</strong></dt><dd>
              <a href="https://www.google.com/maps/place/2+Lighthouse+Rd,+New+Haven,+CT+06512" target="_blank">
                <address>
                  2 Lighthouse Rd.<br>
                  New Haven, CT 06512
                </address>
              </a>
            </dd>
            <dt><strong>Ceremony</strong></dt><dd>5:30 PM, on the beach near the Lighthouse (weather permitting).</dd>
            <dt><strong>Reception</strong></dt><dd>Immediately following the ceremony, inside the Carousel Pavillion.</dd>
          </dl>
          <h3>Transportation &amp Parking</h3>
          <dl class="dl-horizontal">
            <dt>Shuttle</dt><dd>A shuttle will leave the Mariott Courtyard and the Study hotels at 5:00pm to go to Lighthouse Point. From 10:30 p.m. to 12:00 a.m., one bus will shuttle back and forth from Lighthouse Point to the hotels.</dd>
            <dt>Taxi</dt><dd>Call <a href="tel://203-777-7777">(203) 777-7777</a> for a cab.</dd>
            <dt>Parking</dt><dd>Parking is free for our guests. As you enter the Park continue straight after the ticket booth stop, following the green signs to 'Carousel parking.' Go right into the directed lot (surrounded by colored concrete blocks). Drive to the far end of the directed lot (the Lighthouse can be seen in the distance to your left), park your vehicle and walk to the <strong>Red Gate</strong> on the access road.</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div id="map"></div>
      </div>
    </div>
  </article>
  <article class="lighthouse" id="lighthouse">
    <div class="lighthouse_parallax">
      <div class="lighthouse_bottom_parallax" id="email">
        <div class="lighthouse_bottom_bg">
        </div>
      </div>
    </div>
  </article>
  <article class="hotels" id="hotel">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Hotels</h2>
          <p class="big-text">We have reserved rooms at the following hotels</p>
          <address>
            <strong><a class="hotel-link" href="https://reservations.ihotelier.com/crs/g_reservation.cfm?groupID=1274823&hotelID=15472" target="_blank">The Study at Yale</a></strong><br>
            1157 Chapel Street<br>
            New Haven, CT 06511<br>
            <abbr title="Phone">P:</abbr> <a href="tel://203-503-3900">(203) 503-3900</a>
          </address>
          <address>
            <strong><span class="hotel-link">The Courtyard Marriott</span></strong><br>
            30 Whalley Avenue<br>
            New Haven, CT 06511<br>
            <abbr title="Phone">P:</abbr> <a href="tel://203-777-6221">(203) 777-6221</a>
          </address>
          <p class="big-text">Please reference the Silbermann-Reznick wedding when reserving rooms</p>
        </div>
      </div>
    </div>
  </article>
  <article class="couple_main">
    <div class="couple_main_parallax">
      <div class="couple_bottom_bg">
      </div>
    </div>
  </article>
  <article class="registry" id="registry">
    <div class="container">
      <h2>Registry</h2>
      <p class="big-text">We are registered at the following:</p>
      <div class="list-group">
        <a href="http://www.amazon.com/registry/wedding/1OPPQ4FRBRA9Z" class="hotel-link list-group-item"  target="_blank">Amazon</a>
        <a href="http://www.macys.com/registry/wedding/guest/?registryId=6333159" class="hotel-link list-group-item"  target="_blank">Macy's</a>
        <a href="http://www.rei.com/GiftRegistryDetails/GR111678846" class="hotel-link list-group-item"  target="_blank">REI</a>
        <a href="http://www.sokindregistry.org/registry/5909" class="hotel-link list-group-item" target="_blank">So Kind Registry</a>
      </div>
      <p class="big-text">Alternatively, please consider a donation to one of our favorite charities using the <a href="http://www.idofoundation.org/cgi-bin/viewdonations.cgi?OccasionID=166742" target="_blank">I Do Foundation</a></p>
    </div>
  </article>
  <article class="pavillion_main">
    <div class="pavillion_main_parallax">
      <div class="pavillion_bottom_bg">
      </div>
    </div>
  </article>
  <article class="rsvp" id="rsvp">
    <div class="container">
      <h2>R.S.V.P</h2>
      <%= link_to 'Click here to R.S.V.P', new_rsvp_path, class: "btn btn-default" %>
    </div>
  </article>
</section>
<footer>
  <div class="container">
    <div class="row">
      <p class="big-text">Made with <i class="fa fa-heart red"></i> in New Haven, CT</p>
    </div>
  </div>
</footer>
